<div class="row" style="border:1px solid #ddd;">
  <%= render 'form' %>
</div>

<br>
<br>

<div id="topics_area">
  <%= render partial: 'index', locals: { comment: @comment, topics: @topics } %>
</div>

<div id="page-top-btn" class="page-top-btn">
  <p><a class="move-page-top" id="move-page-top">▲</a></p>
</div>