.page-top-btn {
  display: none;
  border-radius: 50px;
  background: #336699;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 20;
  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
  }
  a:hover {
  background: none;
  }
  &:hover {
  opacity: 0.7;
  }
}

header {
  width: 100%;
  background-color:#3B5998;
}

html {
  height: 100%;
}

body {
  width: 100%;
  background-color:#E9EBEE;
  margin-top: 0;
  height: 100%;
}

#wrap {
  width: 100%;
  position: relative;
  height:auto !important; /*IE6対策*/
  height: 100%; /*IE6対策*/
  min-height: 100%;
}

#content {
  padding-bottom: 50px;
}

footer {
  width: 100%;
  background-color:white;
  position: absolute;
  bottom:0;
  height: 50px;
  p {
    display: table;
    margin:0 auto;
    padding: 10px;
  }
}

.topic_form {
  width: 100%;
  background-color:white;
  padding: 5px 5px 1px 5px;
}


.jumbotron {
    background: #000 image-url("ngz46_on.jpg") center center;
    background-size: cover;
    border:1px solid #ddd;
    border-bottom: 0px;
    p{
        color: white;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    h1{
        color: white;
        text-align: left;
        margin-top: 150px;
    }
}

.right-navi > .jumbotron {
    background: #000 image-url("ngz46_off.jpg") center center;
    background-size: cover;
    margin-top: 10px;
    p{
        color: white;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 0px;
    }
    h1{
        color: white;
        text-align: left;
        margin-top: 60px;
    }
}

.mid-navi {
  display: list-item;
  padding: 1px 10px 1px 10px;
  margin: 5px; 
  border-left-style: solid; 
  border-left-color: #C0C0C0;
}
